/*width set for container of the every Brackpoint*/

@media only screen and (min-width:1400px) {
    .container {
        width: 1320px;
    }
}

@media only screen and (min-width:1200px) and (max-width:1400px) {
    .container {
        width: 1130px;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .container {
        width: 960px;
    }
}

@media only screen and (min-width:778px) and (max-width:992px) {
    .container {
        width: 720px;
    }
}

@media only screen and (min-width:576px) and (max-width:778px) {
    .container {
        width: 540px;
    }
}

@media only screen and (max-width:576px) {
    .container {
        width: 100%;
    }
}

/*style change for backpoint*/

@media (max-width:1200px) {
    .player-area, .curse-area, .blog-area {
        justify-items: left;
    }
    h2 {
        text-align: left;
    }
}

@media (max-width:992px) {
    .player-area, .curse-area {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .blog-area {
        grid-template-columns: repeat(1, 1fr);
        max-width: 380px;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
    }
}

@media (max-width:778px) {
    .curse-area {
        grid-template-columns: repeat(1, 1fr);
    }
    .logo a {
        margin-left: 10px;
    }
    nav ul li a {
        margin-right: 20px;
    }
}

@media (max-width:576px) {
    header {
        padding: 14px;
    }
    .player-area {
        grid-template-columns: repeat(1, 1fr);
    }
    .logo a {
        margin-left: 5px;
    }
    nav ul li a {
        margin-right: 10px;
    }
    .blog {
        flex-direction: column;
        justify-self: center;
        align-items: flex-start;
    }
    .blog h3 {
        margin: 0 0 -4px 0px;
    }
    .details {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}